<!DOCTYPE html>
<html>
<head>
    <title>My Render Page</title>
    <style>
        body {
            background: #f1f1f1;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
        .box {
            background: white;
            padding: 20px;
            width: 300px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px #aaa;
            font-size: 20px;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>Welcome to My Website</h2>
    <p>Total Views: <b>{{ views }}</b></p>
</div>

</body>
</html>
